# Игнорировать файл .env
.env

# Игнорировать виртуальное окружение
venv/
recsys_venv/
env/
.vscode/
.venv/

# Игнорировать файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать статические файлы (если они генерируются автоматически)
staticfiles/

# Игнорировать медиафайлы (если они хранятся локально)
media/

# Игнорировать файлы базы данных (если используется SQLite)
*.sqlite3
*.db

# Игнорировать логи
*.log

# Игнорировать файлы сборки и дистрибуции
build/
dist/
*.egg-info/
*.egg

# Игнорировать файлы кэша
.cache/
.pytest_cache/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать Jupyter Notebook
.ipynb_checkpoints/

# Игнорировать файлы миграций (опционально, если вы хотите их игнорировать)
*/migrations/*.py
!*/migrations/__init__.py