{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Первый контейнер (левая часть) - Информация о курсе -->
        <div class="col-md-3 p-3">
            <div class="container">
                <h3>Информация о курсе</h3>
                <br/>
                <ul class="list-unstyled">
                    <li><strong>Платформа:</strong> {{ course.platform.name }}</li>
                    <li><strong>Язык:</strong> {{ course.language }}</li>
                    <li><strong>Нагрузка:</strong> {{ course.workload }}</li>
                    <li><strong>Дата публикации:</strong> {{ course.became_published_at|date:"d.m.Y H:i" }}</li>
                    <li><strong>Время на прохождение:</strong> {{ course.time_to_complete }} часов</li>
                    <li><strong>Платный:</strong> {% if course.is_paid %}Да{% else %}Нет{% endif %}</li>
                    <li><strong>Категория:</strong> {{ course.category }}</li>
                </ul>
                {% if user.is_authenticated %}
                    {% if is_course_saved %}
                        <div class="container-fluid mt-3">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ f.pk }}">
                                        Удалить курс
                                    </button>

                                    <!-- Модальное окно для подтверждения удаления -->
                                    <div class="modal fade" id="deleteModal{{ f.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ f.pk }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel{{ course.pk }}">Подтверждение удаления</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы уверены, что хотите удалить курс "{{ f.title }}"?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                    <a href="{% url 'delete-course' user_id=user.pk pk=course.pk %}" class="btn btn-danger">Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    {% else %}
                        <div class="container-fluid mt-3">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <a href="{% url 'create-usercourse' course=course.pk user=user.pk %}" class="btn btn-primary">Сохранить курс</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endif %}
                <br/><br/><br/>
                <!-- Кнопка "К курсам" -->

                            <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-dark">Назад</a>

            </div>
        </div>

        <!-- Второй контейнер (правая часть) - Детали курса -->
        <div class="col-md-9 p-3">
            <div class="container">
                <!-- Верхний ряд (два маленьких контейнера) -->
                <div class="row mb-3">
                    <!-- Контейнер с заголовком -->
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title"> <a href="{{ course.canonical_url }}"> {{ course.title }}</h2></a>
                            </div>
                        </div>
                    </div>

                    <!-- Контейнер с кратким описанием -->
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <p class="card-text">{{ course.summary }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Нижний ряд (один большой контейнер) -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Описание курса</h5>
                                <p class="card-text">{{ course.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}