{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Левая часть (Фильтры) -->
        <div class="col-3 p-3 border-end">
            <div class="container">
                <h5>Фильтрация</h5>
                {% if get_not_all %}
                    {% url 'home' as form_action %}
                {% else %}
                    {% url 'all-courses' as form_action %}
                {% endif %}

                <form method="get" action="{{ form_action }}">
                    <!-- Поле поиска -->
                    <div class="mb-3">
                        <label for="search" class="form-label"><strong>Поиск по названию:</strong></label>
                        <input type="text" name="search" id="search" class="form-control" value="{{ search_query }}">
                    </div>

                    <!-- Фильтр по категориям -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Категории:</strong></label>
                        <div class="form-check">
                            {% for category in categories %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="category" id="category{{ forloop.counter }}"
                                           value="{{ category }}" {% if category in selected_categories %}checked{% endif %}>
                                    <label class="form-check-label" for="category{{ forloop.counter }}">
                                        {{ category }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Фильтр по платформам -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Платформы:</strong></label>
                        <div class="form-check">
                            {% for platform in platforms %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="platform" id="platform{{ forloop.counter }}"
                                           value="{{ platform.id }}" {% if platform.id|stringformat:"s" in selected_platforms %}checked{% endif %}>
                                    <label class="form-check-label" for="platform{{ forloop.counter }}">
                                        {{ platform.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    <br><br>
                    <a href="?reset=true">
                        <button type="button" class="btn btn-orange-500">Сбросить фильтры</button>
                    </a>
                </form>
            </div>
        </div>

        <!-- Правая часть (Список курсов) -->
        <div class="col-9 p-3">
            <div class="container">
                <h1>Курсы</h1>
                <br/>
                <div class="row">
                    {% for course in page_obj %}
                        <div class="col-md-4 mb-4 position-relative">
                            <div class="card h-100 d-flex flex-column">
                                <!-- Кнопка "Неинтересно" -->
                                {% if get_not_all %}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'create-usercourse' course=course.pk user=user.pk score='-2.0' %}"
                                       class="btn btn-outline-dark btn-sm position-absolute top-0 start-0 m-2 p-1"
                                       onclick="showToast()">
                                        Неинтересно <i class="bi bi-x-lg"></i>
                                    </a>
                                <br/>
                                <br/>
                                {% endif %}
                                {% endif %}

                                <div class="card-body flex-grow-1">
                                    <h5 class="card-title">{{ course.title }}</h5>
                                    <p class="card-text">{{ course.summary|truncatechars:150 }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'course' course.pk %}" class="btn btn-primary">Посмотреть</a>
                                    {% if get_not_all %}
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'create-usercourse' course=course.pk user=user.pk score='1.0' %}" class="btn btn-orange-500" onclick="showToast()">Сохранить</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Пагинация -->
                <nav aria-label="Навигация по страницам">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <!-- Ссылка на первую страницу -->
                            <li class="page-item">
                                <a class="page-link" href="?page=1&{{ filter_params }}" aria-label="Первая">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <!-- Ссылка на предыдущую страницу -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ filter_params }}" aria-label="Предыдущая">
                                    <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- Текущая страница -->
                        <li class="page-item active">
                            <span class="page-link">
                                {{ page_obj.number }}
                            </span>
                        </li>

                        {% if page_obj.has_next %}
                            <!-- Ссылка на следующую страницу -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ filter_params }}" aria-label="Следующая">
                                    <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
                                </a>
                            </li>
                            <!-- Ссылка на последнюю страницу -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ filter_params }}" aria-label="Последняя">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<style>
    .border-end {
        border-right: 1px solid #dee2e6;
        padding-right: 20px;
    }
    .col-9 {
        padding-left: 20px;
    }
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-footer {
        background-color: transparent;
        border-top: none;
        padding: 1rem;
        margin-top: auto; /* Кнопки будут прижаты к низу */
    }
</style>
{% endblock %}