{% extends 'base.html' %}

{% block content %}
<h2> {{ user.username }} </h2></br>

{% if courses.count != 0 %}
    {% for f in courses %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0 ">
              <div class="card-body">
                <h5 class="card-title">{{ f.title }}</h5>
                <a href="{% url 'delete-course' user_id=user.pk pk=f.pk %}" class="btn btn-outline-danger">Удалить курс</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'delete-course' user_id=user.pk pk=f.pk %}" class="btn btn-outline-danger">Удалить курс</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
{% endfor %}
</br>
{% else %}
 <p>У вас нет сохраненных курсов</p>
{% endif %}
<a href="{% url 'create_user_platform' user_id=user.pk %}" class="btn btn-outline-danger">Добавить платформу</a>
{% endblock %}